NJS-Chat.v12.suo
NJS-Chat/NJS-Chat.csproj
NJS-Chat/bin/NJS-Chat.dll
NJS-Chat/bin/NJS-Chat.pdb
NJS-Chat/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NJS-Chat/obj/Debug/NJS-Chat.csproj.FileListAbsolute.txt
NJS-Chat/obj/Debug/NJS-Chat.csprojResolveAssemblyReference.cache
NJS-Chat/obj/Debug/NJS-Chat.dll
NJS-Chat/obj/Debug/NJS-Chat.pdb
