@{
    ViewBag.Title = "Login";
}

<link href="~/Content/Plugins/UI.css" rel="stylesheet" />

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    <div style="width: 400px; margin: 300px auto;">
        <fieldset>
            <legend>Sign in / Register</legend>
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" placeholder="Username" autocomplete="off">
            </div>

            <div style="margin-top: 10px">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" autocomplete="off">
            </div>

            <div>
                <button type="submit" style="margin: 13px -2px 0 0; float: right;">Sign in</button>
            </div>
        </fieldset>
        
        

        
    </div>
}