@using NJS_Chat.Helpers
@model NJS_Chat.Models.IndexViewModel

@{
    ViewBag.Title = "Index";
}

@section styles{
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap/bootstrap-theme.min.css" rel="stylesheet" />*@

    <style type="text/css">
        #messageFrame {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 70px;
        }
    </style>
}


<div id="pagewrap" style="padding: 10px">
    @using (Html.BeginForm("PostMessage", "Home", FormMethod.Post, new { @class = "form-inline" }))
    {
        <div class="form-group">
            <input id="username" name="username" class="form-control" placeholder="Username" autocomplete="off" value="@Model.Username" />
        </div>
        <div class="form-group">
            <input id="message" name="message" class="form-control" placeholder="Type a message here" autofocus="" style="width: 500px" autocomplete="off" type="text" />
            @*<textarea id="message" name="message" class="form-control" placeholder="Type a message here" autofocus="" style="width: 500px"></textarea>*@
        </div>
        <div class="form-group">
            <select name="to" id="to" class="form-control">
                <option value="Everyone">Everyone</option>
                @foreach (var user in Global.User.UserQue)
                {
                    <option value="@user.Username">@user.Username</option>
                }
            </select>
        </div>

        <button class="btn btn-info">Send</button>
    }
</div>


<iframe id="messageFrame" width="100%" height="100%" frameborder="0" src="@Url.Action("Message", "Home")"></iframe>


